<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.erayic.agr.service">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.impl.ServiceListByEntActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.ServiceInfoByEntActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.ServiceBuyActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.ServicePriceActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.ServiceTopicActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.BusinessAccountActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.OrderByEntActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.InvoiceSettingActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.OrderInfoActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.ServiceManageActivity"
            android:theme="@style/AppTheme.Transparent" />
    </application>

</manifest>
