<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.erayic.agr.unit">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.impl.AddBatchActivity"
            android:theme="@style/AppTheme.Transparent" />
    </application>

</manifest>
