<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.erayic.agr.serverproduct">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.impl.ReportingActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
        android:name=".view.impl.WeatherTenDayReportingActivity"
        android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.PoliciesRegulationsActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.DynamicPriceActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.PoliciesRegulationsDetailActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".view.impl.DynamicPriceDetailActivity"
            android:theme="@style/AppTheme.Transparent" />
    </application>

</manifest>
